<ion-view title="首页">
    <ion-content>
        <div class="list">
            <a class="item" ng-repeat="item in items" href="#/tab/main/{{item.CONTENTID}}">
                <!-- <img ng-src="{{item.thumbnail}}"/>
                 <span class="badge badge-assertive">热</span>-->
               <div style="font-weight: bolder">{{item.CONTENTTILTLE}}</div>
                <div class="row" style="font-size: 10px;">
                    <div class="col text-left">{{item.CONTENTAUTHOR}}</div>
                    <div class="col text-right">{{item.CONTENTDATE.year+1900+"-"+item.CONTENTDATE.month+"-"+item.CONTENTDATE.date}}</div>
                </div>
            </a>
        </div>
        <ion-infinite-scroll   on-infinite="loadMore();" spinner="android" distance="1%" immediate-check="true" ng-if="isHaveMoreData">
        </ion-infinite-scroll>
    </ion-content>


</ion-view>