<ion-tabs class="tabs-icon-top  tabs-color-active-positive">
    <ion-tab title="首页" icon="ion-ios-albums-outline" href="tab/main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>
    <ion-tab title="信息查询" icon-off="ion-search" icon-on="ion-search" href="tab/xxcx">
        <ion-nav-view name="tab-xxcx"></ion-nav-view>
    </ion-tab>
    <ion-tab title="供求平台" icon="ion-monitor"  href="tab/gqpt">
        <ion-nav-view name="tab-gqpt"></ion-nav-view>
    </ion-tab>
    <ion-tab title="资产估算" icon="ion-ios-calculator-outline" href="tab/zcgs">
        <ion-nav-view name="tab-zcgs"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我"  icon="ion-ios-person-outline" href="tab/personal">
        <ion-nav-view name="tab-personal"></ion-nav-view>
    </ion-tab>
</ion-tabs>