<ion-view title="消息内容">
    <ion-content>
        <!--
        <ion-list>
            <ion-item><p>宗地编号：{{detailData.ZDBH}}</p></ion-item>
            <ion-item><p>发布人：{{detailData.DWGR_ZC}}</p></ion-item>
            <ion-item><p>小地名：{{detailData.XDM}}</p></ion-item>
            <ion-item><p>坐落于：{{detailData.ZL}}</p></ion-item>
            <ion-item><p>东至：{{detailData.DONGZHI}}</p></ion-item>
            <ion-item><p>南至：{{detailData.NANZHI}}</p></ion-item>
            <ion-item><p>西至：{{detailData.XIZHI}}</p></ion-item>
            <ion-item><p>北至：{{detailData.BEIZHI}}</p></ion-item>
            <ion-item><p>面积：{{detailData.MJ}}</p></ion-item>

        </ion-list>
-->
        <div class="list card">
            <div class="item">宗地编号：{{detailData.ZDBH}}</div>
        </div>

        <div class="list card">
            <div class="item item-divider text-center">所属人信息</div>
            <div class="item">单位个人：{{detailData.ZL}}</div>
            <div class="item">法定代表人：{{detailData.XDM}}</div>
            <div class="item">证件编号：{{detailData.MJ}}</div>
        </div>

        <div class="list card">
            <div class="item item-divider text-center">流入方信息</div>
            <div class="item">单位个人：{{detailData.ZL}}</div>
            <div class="item">法定代表人：{{detailData.XDM}}</div>
            <div class="item">证件编号：{{detailData.MJ}}</div>
        </div>

        <div class="list card">
            <div class="item">申请日期：{{detailData.ZDBH}}</div>
        </div>


       <div class="list card">
           <div class="item item-divider text-center">宗地信息</div>
           <div class="item">坐落：{{detailData.ZL}}</div>
           <div class="item">小地名：{{detailData.XDM}}</div>
           <div class="item">面积：{{detailData.MJ}}</div>
           <div class="item">主体类型：</div>
           <div class="item">内业号：</div>
           <div class="item">林种：</div>
           <div class="item">东至：{{detailData.DONGZHI}}</div>
           <div class="item">南至：{{detailData.NANZHI}}</div>
           <div class="item">西至：{{detailData.XIZHI}}</div>
           <div class="item">北至：{{detailData.BEIZHI}}</div>
       </div>
    </ion-content>
</ion-view>