<ion-view title="消息内容">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-divider">
                <h2 class="text-center">-------地理位置--------</h2>
            </div>

            <div class="item">
                <div style="border:1px solid yellowgreen">
                    江西省>吉安市>永丰县
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                <h2 class="text-center">-------林地情况--------</h2>
            </div>
            <div class="item">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col col-50" style="display: inline-block;border:1px solid yellowgreen">
                        林地类型：乔木林
                    </div>
                    <div class="col col-50" style="display: inline-block;border:1px solid yellowgreen">
                        林地面积：800亩
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33" style="display: inline-block;border:1px solid yellowgreen">
                        树种：落叶松
                    </div>
                    <div class="col col-33" style="display: inline-block;border:1px solid yellowgreen">
                        林龄：35
                    </div>
                    <div class="col col-33" style="display: inline-block;border:1px solid yellowgreen">
                        蓄积：600方
                    </div>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                <h2 class="text-center">-------权属情况--------</h2>
            </div>

            <div class="item">
                <div style="border:1px solid yellowgreen">
                  权证类型：林地使用权、林地所有权
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                <h2 class="text-center">-------交通情况--------</h2>
            </div>

            <div class="item">
                <div style="border:1px solid yellowgreen;margin-bottom:5px;">
                    周边道路：国道（3公里）、省道（16公里）
                </div>
                <div style="border:1px solid yellowgreen">
                    周边单位：农科站、县农副产品批发市场
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                <h2 class="text-center">-------经营情况--------</h2>
            </div>

            <div class="item">
                <div style="border:1px solid yellowgreen;margin-bottom:5px;">
                   利用现状：
                </div>
                <div style="border:1px solid yellowgreen">
                    何种经营：
                </div>
            </div>
        </div>

        <div class="list list-borderless">
            <div class="item">
                <button class="button button-full button-positive">我要评估</button>
            </div>
        </div>

   </ion-content>
</ion-view>